<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/swrl"
            class="org.emftext.language.swrl.SwrlPackage"
            genModel="metamodel/swrl.genmodel"/>
   </extension>

</plugin>
