<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.owltext.feature.resource.fea.ui.FeaUIMetaInformation" id="org.owltext.feature.resource.fea.ui.FeaUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.owltext.feature.resource.fea.ui.FeaEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="fea" icon="icons/editor_icon.gif" id="org.owltext.feature.resource.fea.ui.FeaEditor" name="EMFText fea Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.runtime.owltext.test.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.owltext.feature.resource.fea.ui.FeaPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Fea Text Editor" id="org.owltext.feature.resource.fea.ui.FeaPreferencePage" class="org.owltext.feature.resource.fea.ui.FeaPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.owltext.feature.resource.fea.ui.FeaSyntaxColoringPreferencePage" class="org.owltext.feature.resource.fea.ui.FeaSyntaxColoringPreferencePage" category="org.owltext.feature.resource.fea.ui.FeaPreferencePage">
		</page>
		<page name="Brackets" id="org.owltext.feature.resource.fea.ui.FeaBracketPreferencePage" class="org.owltext.feature.resource.fea.ui.FeaBracketPreferencePage" category="org.owltext.feature.resource.fea.ui.FeaPreferencePage">
		</page>
		<page name="Occurrence" id="org.owltext.feature.resource.fea.ui.FeaOccurrencePreferencePage" class="org.owltext.feature.resource.fea.ui.FeaOccurrencePreferencePage" category="org.owltext.feature.resource.fea.ui.FeaPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.owltext.feature.resource.fea.ui.FeaNewFileWizard" id="org.owltext.feature.resource.fea.ui.FeaNewFileWizard" name="EMFText .fea file">
		</wizard>
	</extension>
	
</plugin>
