<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension  
            point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="eu.most.transformation.ecore_owl.ui.TransformEcore2OWL"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="eu.most.transformation.ecore_owl.ui.TransformEcore2OWLAction"
               enablesFor="1"
               id="eu.most.transformation.ecore_owl.ui.TransformEcore2OWLAction"
               label="Transform Model to OWL"
               menubarPath="additions"/>
      </objectContribution>
   </extension>

<!--
   <extension  
            point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="eu.most.transformation.ecore_owl.ui.TransformMetamodel2OWL"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="eu.most.transformation.ecore_owl.ui.TransformMetamodel2OWLAction"
               enablesFor="1"
               id="eu.most.transformation.ecore_owl.ui.TransformMetamodel2OWLAction"
               label="Transform Metamodel to OWL"
               menubarPath="additions"/>
      </objectContribution>
   </extension>
-->

</plugin>
